[submodule "Pistachio/vendor/spdlog"]
	path = Pistachio/vendor/spdlog
	url = ../../gabime/spdlog.git
	branch = v1.x
[submodule "Pistachio/vendor/glfw"]
	path = Pistachio/vendor/glfw
	url = ../../TheRealFirst/glfw.git
	branch = master
[submodule "Pistachio/vendor/glm"]
	path = Pistachio/vendor/glm
	url = ../../g-truc/glm.git
	branch = master
[submodule "Pistachio/vendor/imgui"]
	path = Pistachio/vendor/imgui
	url = ../../TheRealFirst/imgui.git
	branch = docking
[submodule "Pistachio/vendor/yaml-cpp"]
	path = Pistachio/vendor/yaml-cpp
	url = https://github.com/TheRealFirst/yaml-cpp
