[submodule "Pistachio/vendor/spdlog"]
	path = Pistachio/vendor/spdlog
	url = https://github.com/gabime/spdlog
	branch = v1.x
[submodule "Pistachio/vendor/glfw"]
	path = Pistachio/vendor/glfw
	url = https://github.com/TheRealFirst/glfw
	branch = master
[submodule "Pistachio/vendor/glm"]
	path = Pistachio/vendor/glm
	url = https://github.com/g-truc/glm
	branch = master

