[submodule "Pistachio/vendor/spdlog"]
	path = Pistachio/vendor/spdlog
	url = https://github.com/gabime/spdlog

[submodule "Pistachio/vendor/glfw"]
	path = Pistachio/vendor/glfw
	url = https://github.com/TheRealFirst/glfw
[submodule "Pistachio/vendor/imgui"]
	path = Pistachio/vendor/imgui
	url = https://github.com/TheRealFirst/imgui
