# Binaries
**/bin/
!vendor/bin/premake/
bin-int/
Intermediates/

# Pistachio files
*.log

# Visual Studio files and folder
.vs/
.idea/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj

# Directories
Pistachio/vendor/VulkanSDK
Pistachio-Editor/assets/cache
scripts/__pycache__
*.user
